.hero {
  height: 600px;
  padding-top: 200px;
  background-image: url("./assets/space.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #101213af;
  background-blend-mode: multiply;
  position: relative;
}

.card_img {
  height: 280px;
  width: 300px;
}
@media only screen and (max-width: 600px) {
  .hero {
    height: 850px;
  }
}
